name: golangci-lint

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
